<li id="<%= feed_item.id %>">
	<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	<span class="user">
		<%= link_to feed_item.user.name, feed_item.user %>
	</span>
	<span class="content"><%= wrap(feed_item.content) %></span>
	<%= render '/shared/timestamp', object: feed_item %>
	<%= render '/shared/delete_link', object: feed_item %>
</li>